<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="product.css">
</head>
<body>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
            <th>Quantity</th>
        </tr>
    <% products.forEach(element => { %>
        <tr>
            <td> <%= element.id %> </td>
            <td> <%= element.name %> </td>
            <td> <%= element.des %> </td>
            <td> <%= element.price %> </td>
            <td> <%= element.quantity %> </td>
            <td>
                <% if(element.image) { %>
                    <a href="/preview/<%= element.image %>">Preview</a>
                <% } %>
            </td>
            <td class="actions"><a href="/editProduct/<%= element.id %>" class="ed">Edit</a><a href="/delete/<%= Number.parseInt(element.id) %>" class="del">Delete</a></td>
        </tr>
   <% }); %>
   </table>
       <form id="myform" enctype="multipart/form-data">
        <label for="id">Id:</label>
        <input type="number" name="id" id="pId" placeholder="eg 101" required>
        <label for="name">Name:</label>
        <input type="text" name="name" id="pname" placeholder="eg kettle" required>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" placeholder="eg 5000" required>
        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea>
        
        <!-- Image upload fields -->
        <label for="image">Product Image:</label>
        <input type="file" name="image" id="image" accept=".jpeg, .png, .jpg">
        <label for="imgFilename">Image Filename:</label>
        <input type="text" name="imgFilename" id="imgFilename" placeholder="eg. product-image">
        
        <button type="reset">Clear</button>
        <button type="submit" id="sub">Add</button>
    </form>

    <button id="logout">Logout</button>

    <script src="dashboard.js">

    </script>
</body>
</html>







